@media (max-width : 1780px) {
	
	.main_title{
		top: 180px;
		left: 309px;
		font-size: 70px;
		line-height: 80px;
	}
	
}

@media (max-width : 1660px) {
	
	.main_title{
		left: 268px;
		font-size: 60px;
		line-height: 70px;
	}
	
	.clients{
		width: auto;
	}
	
}

@media (max-width : 1460px) {
	
	.main_content{
		padding: 0 50px;
	}
	
	.left_points_menu{
		bottom: 20px;
		width: 50px;
	}
	
	.main_title{
		left: 218px;
		font-size: 50px;
		line-height: 60px;
	}
	
	.maindisplay_pic{
		right: 50px;
		width: 640px;
	}
	
	.case_block{
		height: 480px;
	}
	
	.case_block_pic_prev{
		width: 300px;
		margin-left: -150px;
	}
	
	.case_block_text_in.gorevert{
		padding-left: 50px;
	}
	
	.case_platforms.gorevert{
		left: 50px;
	}
	
	.top_logo_dir{
		font-size: 18px;
	}
	
	.go_top_contacts{
		font-size: 18px;
	}
	
	.go_top_phone{
		font-size: 18px;
		margin-left: 20px;
	}
	
	.go_top_pres{
		font-size: 18px;
	}
	
	.go_top_email{
		font-size: 18px;
		margin-left: 20px;
	}
	
	.contain_title_case{
		font-size: 18px;
		line-height: 24px;
	}

	.contain_title{
		font-size: 36px;
		line-height: 46px;
	}
	
	.contain_text{
		font-size: 16px;
		line-height: 28px;
	}
	
	.case_platform_title{
		font-size: 16px;
	}
	
	.case_block_overpic{
		font-size: 16px;
		line-height: 28px;
	}
	
	.allcases_handh{
		font-size: 20px;
	}
	
	.block_team{
		height: 300px;
	}
	
	.team_block_case{
		width: 220px;
		height: 300px;
		margin-right: 60px;
	}
	
	.team_block_case_pic{
		width: 200px;
		height: 200px;
	}
	
	.next_team{
		width: 170px;
		height: 300px;
	}

	.next_team_ico{
		right: 50px;
	}
	
	.team_block_title_pos{
		font-size: 16px;
	}
	
	.client_logo{
		width: 120px;
		margin: 40px 50px;
	}
	
	.about_number_case{
		height: 120px;
	}
	
	.feed_text{
		float: left;
		width: 600px;
	}
	
	.feed_but{
		width: 180px;
		height: 50px;
		font-size: 24px;
		line-height: 50px;
	}
	
}

@media (max-width : 1200px) {
	
	.main_title{
		left: 50px;
	}
	
	.about_number_case{
		float: none;
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}
	
	.feed_ico{
		float: none;
		margin-bottom: 30px;
	}
	
	.feed_text{
		float: none;
		width: 100%;
		margin-bottom: 40px;
	}
	
	.feed_but{
		float: none;
		width: 140px;
		height: 40px;
		font-size: 18px;
		line-height: 40px;
	}
}

@media (max-width : 1020px) {
	
	.mainmenu_case{
		display: none;
	}
	
	.main_go_cases_but{
		display: none;
	}
	
	.toptop{
		position: relative;
		top: 20px;
		margin-bottom: 50px;
	}
	
	.main_content{
		padding: 0 20px;
	}
	
	.left_points_menu{
		display: none;
	}
	
	.top_logo_dir{
		display: none;
	}
	
	.go_top_phone{
		display: none;
	}
	
	.go_top_email{
		display: none;
	}
	
	.go_top_pres{
		display: none;
	}
	
	.top_logo{
		margin-right: 0;
	}
	
	.go_top_contacts{
		margin-left: 0;
	}
	
	.maindisplay{
		height: auto;
	}
	
	.maindisplay_circle{
		display: none;
	}
	
	.maindisplay_pic{
		display: none;
	}
	
	.main_title{
		position: relative;
		top: 0;
		left: 0;
		padding-left: 20px;
		padding-right: 40px;
		font-size: 36px;
		line-height: 46px;
		box-sizing: border-box;
	}
	
	.case_block{
		height: auto;
	}
	
	.case_block_pic{
		float: none;
		width: 100%;
		height: 340px;
	}
	
	.case_block_pic.gorevert{
		float: none;
		width: 100%;
	}
	
	.case_block_pic_prev{
		top: 40px;
		left: 20px;
		width: 240px;
		margin-left: 0;
	}
	
	.case_block_overpic{
		padding: 40px;
	}
	
	.case_block_text{
		float: none;
		width: 100%;
	}
	
	.case_block_text.gorevert{
		float: none;
		width: 100%;
	}
	
	.case_block_text_in{
		height: auto;
		padding-left: 20px;
		padding-right: 20px;
	}

	.case_block_text_in.gorevert{
		padding-left: 20px;
	}
	
	.case_platforms{
		position: relative;
		left: 0;
		bottom: 0;
		height: auto;
		margin-top: 40px;
	}

	.case_platforms.gorevert{
		left: 0;
	}
	
	.case_logo{
		width: 120px;
		margin-bottom: 10px;
	}
	
	.allcases_handh{
		height: 50px;
		padding: 20px 0px;
		font-size: 16px;
	}
	
	.block_service{
		float: none;
		width: auto;
		padding-right: 0;
		margin-bottom: 40px;
	}
	
	.about_block{
		float: none;
		width: auto;
		margin-bottom: 80px;
		padding-right: 0;
	}
	
	.about_block_numbers{
		float: none;
		width: auto;
		padding-right: 0;
		padding-left: 0;
	}
	
	.next_team_ico{
		right: 20px;
	}
	
	.client_logo{
		width: 80px;
		margin: 30px 30px;
	}
	
	.footer{
		padding-bottom: 120px;
	}
	
	.footer_desc{
		width: 80%;
	}
	
	.block_can_appear {
		opacity: 1;
		transform:  translate(0px, 0px);
		-moz-transform: translate(0px, 0px); /* Для Firefox */
		-ms-transform: translate(0px, 0px); /* Для IE */
		-webkit-transform: translate(0px, 0px); /* Для Safari, Chrome, iOS */
		-o-transform: translate(0px, 0px); /* Для Opera */
	}
	
}

@media (max-width : 740px) {
	
	.toptop{
		height: 40px;
	}
	
	.top_logo{
		width: auto;
		height: 40px;
	}
	
	.go_top_contacts{
		height: 40px;
		line-height: 40px;
	}
	
	.main_title{
		font-size: 30px;
		line-height: 40px;
	}
	
	.contain_title{
		font-size: 30px;
		line-height: 40px;
	}
	
	.case_platform_title.goawards{
		margin-left: 0;
	}
	
	.footer_social a{
		width: 60px;
		margin: 10px;
	}
	
	.adcle{
		display: block;
		clear: both;
	}
	
}

@media (max-width : 600px) {
	
	.allcases_handh{
		height: auto;
		line-height: 25px;
	}
	
	.allcases_handh_br{
		display: block;
	}
	
}